body { 
      background-color: #f0f0f0;
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    


} 

h1 {
    color: #333;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;  

}
label {
    margin-bottom: 10px;
    font-weight: bold;
    
}

input{
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn    {

    background-color: aqua;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer;

 }